<h1>ログイン</h1>

<%= form_with scope: :session, local: true do |f| %>
 <div class="form-group">
    <%= f.label :email, 'メールアドレス'%>
    <%= f.text_field :email, class: 'form-control',id: 'session_email' %>
 </div>
 <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, row: 5, class: 'form-control',id: 'session_password' %>
 </div>
 <%= f.submit 'ログインする',class: 'btn btn-primary' %>
 <% end %>
