<div class="row text-center">
  <div class="col-sm-12">

  <%= form_with model: topic, local: true do |f| %>
    <div class="form-group">
      <%= f.label :sick_name %><span>　※必須　(30文字以内)</span><br>
      <%= f.text_field :sick_name , :size=>"30"  %>
    </div>

    <div class="form-group">
      <%= f.label :period %><span>　(20文字以内)</span><br>
      <%= f.text_field :period ,:size=>"30"  %>
    </div>

    <div class="form-group">
      <%= f.label :initial_symptom %><span>　(50文字以内)</span><br>
      <%= f.text_field :initial_symptom ,:size=>"50"  %>
    </div>

    <div class="form-group">
      <%= f.label :content %><span>　※必須　(400文字以内)</span><br>
      <%= f.text_area :content , :size=>"60x10"  %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
