<div class="row text-center">
  <div class="col-sm-12">

  <%= form_with model: topic, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group">
      <%= f.label :sick_name %><span>　※必須　(30文字以内)</span><br>
      <%= f.text_field :sick_name , :size=>"30",class: "form_topic",placeholder: "病気の名前を入力して下さい"  %>
    </div>

    <div class="form-group">
      <%= f.label :period %><span>　(20文字以内)</span><br>
      <%= f.text_field :period ,:size=>"30" ,class: "form_topic",placeholder: "期間を入力して下さい" %>
    </div>

    <div class="form-group">
      <%= f.label :initial_symptom %><span>　(50文字以内)</span><br>
      <%= f.text_field :initial_symptom ,class: "form_topic topic_initial_symptom",placeholder: "初期症状を入力して下さい" %>
    </div>

    <div class="form-group">
      <%= f.label :content %><span>　※必須　(400文字以内)</span><br>
      <%= f.text_area :content ,class: "form_topic topic_content",placeholder: "内容を入力して下さい" %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
