<div class="row">
  <div class="col-sm-12">

  <%= form_with model: topic, local: true do |f| %>
    <div class="form-group">
      <%= f.label :sick_name %>
      <%= f.text_field :sick_name ,class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :period %>
      <%= f.text_field :period ,class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :initial_symptom %>
      <%= f.text_field :initial_symptom ,class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content ,class: 'form-control'  %>
    </div>
    <%= f.submit '登録する',class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
