<h1 class="text-center mt-3">投稿一覧</h1>

<div class="form-group">
  <%= form_tag search_path, method: :get, class: "navbar-form navbar-left search-form" do %>
    <%= label_tag nil,"病名で検索しよう!", class: "d-block" %>
    <%= text_field_tag "search",nil,class: "mb-3",placeholder: "例）虫垂炎" %>
    <%= submit_tag '検索', name: nil %>
  <% end %>
</div>

<div class="row mb-3">
  <table class="table table-hover">
    <thead class="thread-default">
      <tr>
        <th>ユーザー名</th>
        <th>病気の名前</th>
        <th>初期症状</th>
        <th>詳細</th>
      </tr>
      <tbody>
          <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.user.name, user_path(topic.user) %></td>
            <td><%= link_to topic.sick_name, topic %></td>
            <td><%= topic.initial_symptom %></td>
            <td><%= link_to '詳細',topic_path(topic),class: 'btn btn-success' %></td>
          </tr>
          <% end %>
      </tbody>
    </thead>
  </table>
  <div class="digg_pagination">
    <%= will_paginate @topics, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
  </div>
</div>
