<div class="row">
  <h1><%= "#{@topic.sick_name}の詳細" %></h1>
    <table class="table table-hover">
      <tbody>
          <tr>
            <th>病気の名前</th>
            <th><%= @topic.sick_name %></th>
          </tr>
          <tr>
            <th>期間</th>
            <th><%= @topic.period %></th>
          </tr>
          <tr>
            <th>初期症状</th>
            <th><%= @topic.initial_symptom %></th>
          </tr>
          <tr>
            <th>内容</th>
            <th><%= @topic.content %></th>
          </tr>
      </tbody>
    </table>
    <%= link_to '編集',edit_topic_path, class: 'btn btn-primary mr-3' %>
    <%= link_to '削除',@topic,method: :delete,data: { confirm: "タスク「#{@topic.sick_name}」を削除します。よろしいですか？" },class: 'btn btn-danger' %>
</div>
