<h1 class="mt-3"><%= "#{@topic.sick_name}の詳細" %></h1>

<div class="row">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>ユーザー名</th>
        <th><%= link_to @topic.user.name,@topic.user %></th>
      </tr>
        <tr>
          <th>病気の名前</th>
          <th><%= @topic.sick_name %></th>
        </tr>
        <tr>
          <th>期間</th>
          <th><%= @topic.period %></th>
        </tr>
        <tr>
          <th>初期症状</th>
          <th><%= @topic.initial_symptom %></th>
        </tr>
        <tr>
          <th>内容</th>
          <th><%= @topic.content %></th>
        </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div>
      <% if current_user == @topic.user %>
        <%= link_to '編集',edit_topic_path, class: 'btn btn-primary mr-3' %>
        <%= link_to '削除',@topic,method: :delete,data: { confirm: "タスク「#{@topic.sick_name}」を削除します。よろしいですか？" },class: 'btn btn-danger' %>
      <% end %>
  </div>
    <div class="float-right buttons_<%= @topic.id %>"><%= render partial: 'likes/like',locals: { topic: @topic } %></div>
  </div>
</div>

<hr size="5px" color="black">
<h3>コメント</h3>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
<% if current_user %>
  <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
<% end %>
