<div class="row">
  <h1><%= "#{@user.name}の詳細" %></h1>
    <table class="table table-hover">
      <tbody>
          <tr>
            <% if @user.user_image? %>
              <th><%= image_tag @user.user_image.thumb.url %></th>
            <% else %>
              <th><%= image_tag '/default_user.jpg' %></th>
            <% end %>
          <tr>
            <th>名前</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @user.email %></th>
          </tr>
          <tr>
            <th>登録日時</th>
            <th><%= @user.created_at.strftime("%Y-%m-%d %H:%M") %></th>
          </tr>
          <tr>
            <th>更新日時</th>
            <th><%= @user.updated_at.strftime("%Y-%m-%d %H:%M") %></th>
          </tr>
      </tbody>
    </table>
    <% if current_user == @user %>
      <%= link_to '編集',edit_user_path, class: 'btn btn-primary mr-3' %>
      <%= link_to '削除',@user,method: :delete,data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？" },class: 'btn btn-danger' %>
    <% end %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
      <%= render partial: 'follow_form',locals: {user: @user} %>
      <div class="float-right">
        <%= link_to 'フォロー一覧',following_user_path(@user), class: "btn btn-info  d-inline-block" %>
        <%= link_to 'フォロワー一覧',followers_user_path(@user),class: "btn btn-info  d-inline-block" %>
      </div>
    </div>
</div>
