<h1 class="mt-3"><%= "#{@user.name}の詳細" %></h1>

<div class="row">
  <table class="table table-hover">
    <tbody>
        <tr>
          <% if @user.user_image? %>
            <th><%= image_tag @user.user_image.thumb.url %></th>
          <% else %>
            <th><%= image_tag '/default_user.jpg' %></th>
          <% end %>
        </tr>
        <tr>
          <th>名前</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th>登録日時</th>
          <th><%= @user.created_at.strftime("%Y-%m-%d %H:%M") %></th>
        </tr>
        <tr>
          <th>更新日時</th>
          <th><%= @user.updated_at.strftime("%Y-%m-%d %H:%M") %></th>
        </tr>
        <tr>
        <% @topics.each do |topic| %>
          <th>投稿</th>
          <th><%= link_to topic.sick_name,topic %></th>
        </tr>
        <% end %>
    </tbody>
  </table>
  <div class="mb-3">
    <% if current_user == @user %>
      <%= link_to '編集',edit_user_path, class: 'btn btn-primary mr-3' %>
      <%= link_to '削除',@user,method: :delete,data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？" },class: 'btn btn-danger' %>
    <% end %>
  </div>
  <div class="col-md-10 col-md-offset-2 mb-3">
    <%= render partial: 'follow_form',locals: {user: @user} %>
    <div class="float-right">
      <%= link_to 'フォロー一覧',following_user_path(@user), class: "btn btn-info  d-inline-block" %>
      <%= link_to 'フォロワー一覧',followers_user_path(@user),class: "btn btn-info  d-inline-block" %>
      <%= link_to 'いいね一覧',"/likes/#{@user.id}/index", class: 'btn btn-primary mr-3' %>
    </div>
  </div>
</div>

