<!DOCTYPE html>
<html>
  <head>
    <title>MedicalLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="mt-3 alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
